---
# Pandas - упражнение част 1
---

In [1]:
# Импортирайте numpy и pandas
import numpy as np
import pandas as pd

### Създайте масив `qtrs` с тримесечия - от Q1 до Q4

In [2]:
# Създаване на масив с тримесечия
qtrs = np.array(['Q1', 'Q2', 'Q3', 'Q4'])

# Извеждане на масива
print(qtrs)
qtrs

['Q1' 'Q2' 'Q3' 'Q4']

array(['Q1', 'Q2', 'Q3', 'Q4'], dtype='<U2')

### Създайте масив `yrs` с години - от 2019 до 2022

In [3]:
yrs=np.array(['2019','2020','2021','2022'])
print(yrs)
yrs

['2019' '2020' '2021' '2022']

array(['2019', '2020', '2021', '2022'], dtype='<U4')

### Създайте Python списък `index`, получен като слепване (+) от yrs и qtrs

In [4]:
# Дадени списъци
qtrs = np.array(['Q1', 'Q2', 'Q3', 'Q4'])
yrs=np.array(['2019','2020','2021','2022'])

# Създаване на Python списък index с вложен for цикъл
index = []

for yr in yrs:
    for qtr in qtrs:
        index.append(str(yr) + "-" + qtr)

index

['2019-Q1',
 '2019-Q2',
 '2019-Q3',
 '2019-Q4',
 '2020-Q1',
 '2020-Q2',
 '2020-Q3',
 '2020-Q4',
 '2021-Q1',
 '2021-Q2',
 '2021-Q3',
 '2021-Q4',
 '2022-Q1',
 '2022-Q2',
 '2022-Q3',
 '2022-Q4']

In [5]:
index

['2019-Q1',
 '2019-Q2',
 '2019-Q3',
 '2019-Q4',
 '2020-Q1',
 '2020-Q2',
 '2020-Q3',
 '2020-Q4',
 '2021-Q1',
 '2021-Q2',
 '2021-Q3',
 '2021-Q4',
 '2022-Q1',
 '2022-Q2',
 '2022-Q3',
 '2022-Q4']

### Генерирайте Numpy масив `columns` с имена на градове Varna Plovdiv Sofia Burgas

In [6]:
columns=np.array(['Varna', 'Plovdiv', 'Sofia', 'Burgas'])
columns

array(['Varna', 'Plovdiv', 'Sofia', 'Burgas'], dtype='<U7')

### Генерирайте Numpy матрица `data` с размери (16,4) с произволни цели числа от 200 до 800

In [7]:
# Използвайте seed=1
np.random.seed(1)
data = np.random.randint(200,800, size=64).reshape(16,4)
data

array([[237, 435, 272, 344],
       [329, 783, 708, 590],
       [481, 378, 476, 454],
       [557, 668, 452, 690],
       [598, 762, 780, 415],
       [703, 678, 286, 341],
       [593, 207, 519, 734],
       [513, 713, 516, 409],
       [464, 631, 656, 742],
       [271, 587, 654, 761],
       [513, 715, 697, 243],
       [788, 226, 536, 497],
       [666, 215, 264, 396],
       [225, 567, 671, 482],
       [222, 326, 479, 581],
       [556, 355, 513, 795]])

### Създайте DataFrame `sales` с data, index, columns

In [8]:
# Задаване на seed за повторяемост на случайни числа
np.random.seed(1)

# Генериране на данни
data = np.random.randint(200, 800, size=64).reshape(16, 4)

# Дефиниране на индекс и колони
qtrs = np.array(['Q1', 'Q2', 'Q3', 'Q4'])
yrs = np.array(['2019', '2020', '2021', '2022'])
index = [f"{yr}-{qtr}" for yr in yrs for qtr in qtrs]
columns = np.array(['Varna', 'Plovdiv', 'Sofia', 'Burgas'])

# Създаване на DataFrame
sales = pd.DataFrame(data, index=index, columns=columns)

# Извеждане на DataFrame
print(sales)

         Varna  Plovdiv  Sofia  Burgas
2019-Q1    237      435    272     344
2019-Q2    329      783    708     590
2019-Q3    481      378    476     454
2019-Q4    557      668    452     690
2020-Q1    598      762    780     415
2020-Q2    703      678    286     341
2020-Q3    593      207    519     734
2020-Q4    513      713    516     409
2021-Q1    464      631    656     742
2021-Q2    271      587    654     761
2021-Q3    513      715    697     243
2021-Q4    788      226    536     497
2022-Q1    666      215    264     396
2022-Q2    225      567    671     482
2022-Q3    222      326    479     581
2022-Q4    556      355    513     795

In [9]:
sales

         Varna  Plovdiv  Sofia  Burgas
2019-Q1    237      435    272     344
2019-Q2    329      783    708     590
2019-Q3    481      378    476     454
2019-Q4    557      668    452     690
2020-Q1    598      762    780     415
2020-Q2    703      678    286     341
2020-Q3    593      207    519     734
2020-Q4    513      713    516     409
2021-Q1    464      631    656     742
2021-Q2    271      587    654     761
2021-Q3    513      715    697     243
2021-Q4    788      226    536     497
2022-Q1    666      215    264     396
2022-Q2    225      567    671     482
2022-Q3    222      326    479     581
2022-Q4    556      355    513     795

In [10]:
# Изведете продажбите за Varna и Sofia
# Извеждане на продажбите за Varna и Sofia
sales_varna_sofia = sales.loc[:, ['Varna', 'Sofia']]

print("Продажби за Varna и Sofia:")
print(sales_varna_sofia)

Продажби за Varna и Sofia:
         Varna  Sofia
2019-Q1    237    272
2019-Q2    329    708
2019-Q3    481    476
2019-Q4    557    452
2020-Q1    598    780
2020-Q2    703    286
2020-Q3    593    519
2020-Q4    513    516
2021-Q1    464    656
2021-Q2    271    654
2021-Q3    513    697
2021-Q4    788    536
2022-Q1    666    264
2022-Q2    225    671
2022-Q3    222    479
2022-Q4    556    513

In [11]:
# Продажбите за 2019-Q1
sales_2019_Q1 = sales.loc['2019-Q1', :]
print(sales_2019_Q1)

Varna      237
Plovdiv    435
Sofia      272
Burgas     344
Name: 2019-Q1, dtype: int32

In [12]:
# Продажбите за 2019
sales_2019 = sales.loc[['2019-Q1', '2019-Q2', '2019-Q3', '2019-Q4'], :]
print(sales_2019)

         Varna  Plovdiv  Sofia  Burgas
2019-Q1    237      435    272     344
2019-Q2    329      783    708     590
2019-Q3    481      378    476     454
2019-Q4    557      668    452     690

In [13]:
# Продажбите за Q1 от всяка година
sales_Q1= sales.loc[['2019-Q1', '2020-Q1', '2021-Q1', '2022-Q1'], :]
print(sales_Q1)

         Varna  Plovdiv  Sofia  Burgas
2019-Q1    237      435    272     344
2020-Q1    598      762    780     415
2021-Q1    464      631    656     742
2022-Q1    666      215    264     396

### Максимална стойност на продажбите

In [14]:
# Изведете максималните продажби за периода за всички градове
max_sales_all_cities = sales.max()

print("Максимални продажби за всички градове:")
print(max_sales_all_cities)


# Извличане на максималната продажба за целия период
max_sales_period = sales.max().max()
print("Максимална продажба за целия период:", max_sales_period)

Максимални продажби за всички градове:
Varna      788
Plovdiv    783
Sofia      780
Burgas     795
dtype: int32
Максимална продажба за целия период: 795

In [15]:
# Изведете показания текст

In [16]:
# Намиране на индекса (град и тримесечие) на максималната продажба
max_sale_index = sales.stack().idxmax()
# Извличане на стойността (максималната продажба)
max_sale_value = sales.loc[max_sale_index]

print(f"Максимална продажба: {max_sale_value} лв. през {max_sale_index[0]} в {max_sale_index[1]}")

Максимална продажба: 795 лв. през 2022-Q4 в Burgas